@keyframes lazy-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes lazy-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes title {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade {
  0%,   8%   { opacity: 0; }
  10%,  30%  { opacity: 1; }
  32%, 100%  { opacity: 0; }
}
