@media (max-width: 425px) and (hover: none) {
    .main_div {
        background: none;
    }
    .header {
        height: 400px;
    }
    .header_logo-image {
        width: 250px;
        
    }
    .header:hover .title {
        clip-path: none;
        transform: none;
        transform: none;
        opacity: none;
    }
    
    .title {
        animation: mobile_title 1s forwards;
        font-size: 40px;
    }
    .about {
        min-height: 1400px;
        background: black;
    }
    .about_title {
        font-size: 130px;
    }
    .about_text {
        font-size: 50px;
        line-height: 50px;
    }
    .apartment {
        min-height: 200vh;
        grid-template-columns: 1fr;
        padding: 30px 100px 30px 100px;
    }
    .apartment_list {
        gap: 100px;
        
    }
    .article:hover {
        transform: none;
    }
    .list_item {
        width: 100%;
        height: 500px;
    }
    .article_list {

    }
    .apartment_title {
        font-size: 130px;
    }
    .article_title {
        font-size: 50px;
    }
    .article_button {
        width: 380px;
        height: 100px;
    }
    .button_text {
        font-size: 40px;
    }
    .apartment_arrow_button {
        width: 50%;
        
    }
    .apartment_arrow_button-down {
        height: 200px;
    }
    .article_text {
        font-size: 40px;
    }
    .dialogCon {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }
    dialog {
        border-radius: 12px;
        padding: 20px 24px;
        max-width: 800px;
        width: 800px;
        height: 25%;
    }
    .flatCost address {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }   

    .flatCost address a {
        text-decoration: none;
        font-size: 70px;
    }
    .flatCost button {
        display: block;
        width: 500px;
        height: 150px;
        margin: 0 auto;
        text-transform: uppercase;
        color: #000;
        font-weight: 400;
        font-size: 60px;
    }
    @keyframes mobile_title {
        0% {

        }
        100% {
            clip-path: circle(140% at calc(var(--logo-size)/2) 50%);
            transform: scale(1);
            transform: translateY(190%);
            opacity: 1;
        }
    }
}