@media (max-width: 390px) and (hover: none) {
    .main_div {
        background: none;
    }
    .header {
        height: 400px;
    }
    .header_logo-image {
        width: 250px;
        
    }
    .header:hover .title {
        clip-path: none;
        transform: none;
        transform: none;
        opacity: none;
    }
    
    .title {
        animation: mobile_title 1s forwards;
        font-size: 40px;
    }
    .about {
        min-height: 1400px;
        background: black;
    }
    .about_title {
        font-size: 130px;
    }
    .about_text {
        font-size: 50px;
        line-height: 50px;
    }
    .apartment {
        min-height: 200vh;
        grid-template-columns: 1fr;
        padding: 30px 100px 30px 100px;
    }
    .apartment_list {
        gap: 100px;
        
    }
    .article:hover {
        transform: none;
    }
    .list_item {
        width: 100%;
        height: 500px;
    }
    .article_list {

    }
    .apartment_title {
        font-size: 130px;
    }
    .article_title {
        font-size: 50px;
    }
    .article_button {
        width: 380px;
        height: 100px;
    }
    .button_text {
        font-size: 40px;
    }
    .article_button::after {

    }
    .apartment_arrow_button {
        width: 50%;
        
    }
    .apartment_arrow_button-down {
        height: 200px;
    }
    @keyframes mobile_title {
        0% {

        }
        100% {
            clip-path: circle(140% at calc(var(--logo-size)/2) 50%);
            transform: scale(1);
            transform: translateY(190%);
            opacity: 1;
        }
    }
}