body {
	
	
}
.main_div {
	background: 
		linear-gradient(rgba(0, 0, 0, var(--background-filter)), rgba(0, 0, 0, var(--background-filter))),
    	var(--background-main) center top/cover no-repeat;
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
    filter: brightness(30%);
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 140px;
	width: 100%;
	height: 150px;
	background: linear-gradient(rgb(228, 230, 99));
	z-index: 0;
} 
.title {
	position: absolute;
	color: var(--text-main);
	z-index: 1;
	margin-bottom: 30px;
	transform: scale(.2) translateY(0);
  	opacity: 0;
  	clip-path: circle(0% at calc(var(--logo-size)/2) 50%);
	text-decoration: none;
  	transition:
		clip-path .8s cubic-bezier(.22,.9,.25,1),
		transform .8s cubic-bezier(.22,.9,.25,1),
		opacity .35s ease-out;
  	will-change: clip-path, transform, opacity;
	animation: title 5s;
}
.header:hover .title{
  clip-path: circle(140% at calc(var(--logo-size)/2) 50%);
  transform: scale(1);
  transform: translateY(190%);
  opacity: 1;
}

.header_logo-image {
	position: relative;
  	width: 100px;
	border-radius: 100%;
	border: 3px solid black;
	transition: border 0.5s ease;
	margin-bottom: 30px;
	z-index: 2;
}
.header_logo-image:hover {
	border-color:#ffed39;
}

.about {
	display: grid;
	grid-template-rows: 1fr 3fr;
	width: 1100px;
	height: calc(100vh - 150px);
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
	padding: 30px;
	gap: 100px;
}
.about_title {
	color: var(--text-color-about);
	text-transform: uppercase;
	font-family: var(--font-text);
	font-size: 90px;
	justify-self: center;
	align-self: center;
}
.about_text {
	text-align: center;
	color: var(--text-color-about);
	line-height: 30px;
	font-size: 20px;
	font-family: var(--font-text);
	align-self: start;
}

.article_list-item:nth-child(1)  { animation-delay: 0s; }
.article_list-item:nth-child(2)  { animation-delay: 4s; }
.article_list-item:nth-child(3)  { animation-delay: 8s; }
.article_list-item:nth-child(4)  { animation-delay: 12s; }
.article_list-item:nth-child(5)  { animation-delay: 16s; }
.article_list-item:nth-child(6)  { animation-delay: 20s; }
.article_list-item:nth-child(7)  { animation-delay: 24s; }
.article_list-item:nth-child(8)  { animation-delay: 28s; }
.article_list-item:nth-child(9)  { animation-delay: 32s; }


.article_list:hover .article_list-item { 
	animation-play-state: paused; 
	cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  .article_list-item { animation: none; opacity: 1; }
}
.lazy_animation-up {
	animation: lazy-up 2s;
}
.lazy_animation-down {
	animation: lazy-down 2s;
}



.apartment {
	display: grid;
	grid-template-rows: 1fr 3fr;
	background-color:aliceblue;
	height: 100vh;
	padding: 30px;
}
.apartment_title {
	justify-self: center;
	align-self: center;
	font-family: var(--font-text, sans-serif);
	font-size: 65px;
	grid-row: 1;
	grid-column: 1/3;
}
.apartment_list {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	list-style: none;
	justify-self: center;
	
}

.for_lazy-loading-off {
	opacity: 0;
}
.for_lazy-loading-on {
	opacity: 1;
}
.article {
	display: grid;
	grid-template-columns: 1fr 55%;
	width: 500px;
	height: 307px;
	padding: 20px;
	border-radius: 25px;
	background-color: rgb(228, 230, 99);
	box-shadow: -7px 7px 0 2px black;
	transition: all 0.5s ease;
}
.article:hover {
	transform: scale(1.05);	
	box-shadow: -14px 14px 0 2px black;
}
.article_list {
	
	position: relative;
	max-width: 200px;
	aspect-ratio: 9/12;
	margin: 0 auto;
	overflow: hidden;
	background: url(../image/img/apartment_1/outside_window_apartment_1.jpg) center center/cover no-repeat;
	border-radius: 10%;
	filter: brightness(65%);
	box-shadow: -3px 3px 0 2px black;
}
.article_list-item {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	animation: fade 36s infinite;
	filter: brightness(65%);
}
.article_title {
	font-family: var(--font-text, sans-serif);
	font-size: 30px;
	text-align: center;
	grid-row: 1;
	grid-column: 2;
}
.article_text {
	display: inline-block;
	grid-column: 2;
	grid-row: 1;
	align-self: center;
	justify-self: center;
	transition: transform 0.5s ease;
}
.button {
  border: 2px solid #000;
  align-self: end;
  font-size: 14px;
  font-weight: 400;
  color: black;
  cursor: pointer;
  transition: box-shadow 0.5s;
  position: relative;
  overflow: hidden;
  box-shadow: -3px 3px 0 2px black;
}
.button:active .button_text {
	transform: translateY(3px);
}
.button:hover {
	box-shadow: 0px 0px 0 2px black;
}
.article_button {
	position: relative;
	grid-column: 2 / 3;
	grid-row: 1/2;
	justify-self: center;
	width: 160px;
	height: 45px;
	color: #fff;
	background-color: #fff;
	
}
.article_button::after {
	content: '';
	position: absolute;
	inset: 0;
	display: block;
	width: 100%;
	height: 104%;
	background-color: #000;
	transform-origin: left;
	transform: scaleX(0);
	transition: all 0.5s ease-in-out;
	z-index: 10;
}

.article_button:hover::after {
  	transform: scaleX(1);
}
.button_text {
	position: relative;
	text-align: center;
	mix-blend-mode: difference;
	text-transform: uppercase;
	z-index: 20;
	transition: all 0.5s ease;
}

.footer {
	width: 100%;
	min-height: 150px;
	background: linear-gradient(rgb(228, 230, 99), rgb(81, 81, 4));
}