
.main_div {
	background: 
		linear-gradient(rgba(0, 0, 0, var(--background-filter)), rgba(0, 0, 0, var(--background-filter))),
    	var(--background-main) center top/cover no-repeat;
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
    filter: brightness(30%);
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 140px;
	width: 100%;
	height: 150px;
	background: linear-gradient(rgb(228, 230, 99));
	z-index: 0;
} 
.title {
	position: absolute;
	color: var(--text-main);
	z-index: 1;
	margin-bottom: 30px;
	transform: scale(.2) translateY(0);
  	opacity: 0;
  	clip-path: circle(0% at calc(var(--logo-size)/2) 50%);
	text-decoration: none;
  	transition:
		clip-path .8s cubic-bezier(.22,.9,.25,1),
		transform .8s cubic-bezier(.22,.9,.25,1),
		opacity .35s ease-out;
  	will-change: clip-path, transform, opacity;
	animation: title 5s;
}
.header:hover .title{
  clip-path: circle(140% at calc(var(--logo-size)/2) 50%);
  transform: scale(1);
  transform: translateY(190%);
  opacity: 1;
}

.header_logo-image {
	position: relative;
  	width: 100px;
	border-radius: 100%;
	border: 3px solid black;
	transition: border 0.5s ease;
	margin-bottom: 30px;
	z-index: 2;
}
.header_logo-image:hover {
	border-color:#ffed39;
}

.about {
	display: grid;
	grid-template-rows: 1fr 3fr;
	width: 1100px;
	height: calc(100vh - 150px);
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
	padding: 30px;
	gap: 100px;
}
.about_title {
	color: var(--text-color-about);
	text-transform: uppercase;
	font-family: var(--font-text);
	font-size: 90px;
	justify-self: center;
	align-self: center;
}
.about_text {
	text-align: center;
	color: var(--text-color-about);
	line-height: 30px;
	font-size: 20px;
	font-family: var(--font-text);
	align-self: start;
}

.article_list-item:nth-child(1)  { animation-delay: 0s; }
.article_list-item:nth-child(2)  { animation-delay: 4s; }
.article_list-item:nth-child(3)  { animation-delay: 8s; }
.article_list-item:nth-child(4)  { animation-delay: 12s; }
.article_list-item:nth-child(5)  { animation-delay: 16s; }
.article_list-item:nth-child(6)  { animation-delay: 20s; }
.article_list-item:nth-child(7)  { animation-delay: 24s; }
.article_list-item:nth-child(8)  { animation-delay: 28s; }
.article_list-item:nth-child(9)  { animation-delay: 32s; }


.article_list:hover .article_list-item { 
	animation-play-state: paused; 
	cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  .article_list-item { animation: none; opacity: 1; }
}
.lazy_animation-up {
	animation: lazy-up 2s;
}
.lazy_animation-down {
	animation: lazy-down 2s;
}



.apartment {
	display: grid;
	grid-template-rows: 1fr 5fr;
	background-color:aliceblue;
	min-height: 100vh;
	padding: 30px;
	background-color: rgb(239 241 190);
}


.apartment_title {
	justify-self: center;
	align-self: center;
	font-family: var(--font-text, sans-serif);
	font-size: 65px;
	grid-row: 1;
	grid-column: 1/3;
	border: 3px solid black;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 25px;
	background-color: rgb(228, 230, 99);
}
.apartment_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	justify-self: center;
	gap: 40px;
}

.for_lazy-loading-off {
	opacity: 0;
}
.for_lazy-loading-on {
	opacity: 1;
}
.list_item {
	width: 500px;
	height: 307px;	
}
.article {
	display: grid;
	grid-template-columns: 1fr 55%;
	padding: 20px;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	background-color: rgb(228, 230, 99);
	box-shadow: -7px 7px 0 2px black;
	transition: all 0.5s ease;
}

.article:hover {
	transform: scale(1.05);	
	box-shadow: -14px 14px 0 2px black;
}
.article_list {
	
	position: relative;
	max-width: 100%;
	aspect-ratio: 9/12;
	margin: 0 auto;
	overflow: hidden;
	background: url(../image/img/apartment_1/outside_window_apartment_1.jpg) center center/cover no-repeat;
	border-radius: 10%;
	box-shadow: -3px 3px 0 2px black;
}
.article_list-item {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	animation: fade 36s infinite;
}
.article_title {
	font-family: var(--font-text, sans-serif);
	font-size: 30px;
	text-align: center;
	grid-row: 1;
	grid-column: 2;
	height: 35px;
}
.article_text {
	display: inline-block;
	grid-column: 2;
	grid-row: 1;
	align-self: center;
	justify-self: center;
	transition: transform 0.5s ease;
}
.button {
  border: 2px solid #000;
  align-self: end;
  font-size: 14px;
  font-weight: 400;
  color: black;
  cursor: pointer;
  transition: box-shadow 0.5s;
  position: relative;
  overflow: hidden;
  box-shadow: -3px 3px 0 2px black;
  color: #fff;
background-color: rgb(239 241 190);
}
.button:active .button_text {
	transform: translateY(3px);
}
.button:hover {
	box-shadow: 0px 0px 0 2px black;
}
.article_button {
	position: relative;
	grid-column: 2 / 3;
	grid-row: 1/2;
	justify-self: center;
	width: 160px;
	height: 45px;
	
}

.article_button::after {
	content: '';
	position: absolute;
	inset: 0;
	display: block;
	width: 100%;
	height: 104%;
	background-color: #000;
	transform-origin: left;
	transform: scaleX(0);
	transition: all 0.5s ease-in-out;
	z-index: 10;
}

.article_button:hover::after {
  	transform: scaleX(1);
}
.button_text {
	position: relative;
	text-align: center;
	mix-blend-mode: difference;
	text-transform: uppercase;
	z-index: 20;
	transition: all 0.5s ease;
}
.apartment_arrow_button {
	grid-row: 3/4;
	grid-column: 1/2;
	justify-self: center;
	width: 100px;
	background: transparent;
	filter: invert(100%);
	transform: rotate(180deg);
	border: none;
	transition: all 0.5s ease;
	border: 3px solid wheat;
	border-radius: 20%;
	margin-top: 30px;
	cursor: pointer;
}
.apartment_arrow_button:hover {
	filter: invert(50%);
}
.apartment_arrow_button-rotate {
	transform: rotate(0deg);
}
.apartment_arrow {
	width: 100%;
}
.apartment_add-sect {
	align-items: start;
	position: relative;
	background-color:rgb(239 241 190);
	min-height: 0;
	padding: 30px;
}

.apartment_add-sect::after {
	content: '';
	position: absolute;
	inset: 0;
	display: block;
	width: 100%;
	height: 5px;
	background-color: #000;
	transform-origin: center;
	transform: scaleX(0);
	
}
.apartment_list-second {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	justify-self: center;
	gap: 40px;
}
.apartment_add-sect.apartment_add::after {
	animation: apartment_after-on 1s forwards;
}
.apartment_add-sect.apartment_remove::after {
	animation: apartment_after-off 1s forwards;
}
.apartment_add {
	animation: apartment_add .5s ease-in-out forwards;
}
.apartment_remove {
	padding: 0;
	animation: apartment_remove .5s ease-in-out forwards;
}
.apartment_arrow_button-down {
	position: relative;
	z-index: 10;
	width: 100%;
	height: 50px;
	margin-top: 30px;
	display: none;
	flex: 0 0 auto; 
	align-self: flex-end;
	color: #fff;
	background: rgb(239 241 190);
	border: 4px solid rgb(0, 0, 0);
	cursor: pointer;
	
}
.apartment_arrow_button-down::after {
	content: '';
	position: absolute;
	inset: 0;
	display: block;
	width: 100%;
	height: 104%;
	background-color: #000;
	transform-origin: left;
	transform: scaleX(0);
	transition: all 0.5s ease-in-out;
	z-index: 10;
	
}
.apartment_arrow_button-down:hover::after {
	transform: scale(1);
	
}
.button_down {
	height: 10px;
}
.for_button-down {
	display: flex;
	justify-content: center;
}
.apartment_arrow_button-down:active .button_text {
	color: rgb(228, 230, 99);
}
.article_button:active .button_text {
	color: rgb(228, 230, 99);
}
.footer {
	width: 100%;
	min-height: 150px;
	background: linear-gradient(rgb(228, 230, 99), rgb(81, 81, 4));
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}


dialog {
	border-radius: 12px;
	padding: 20px 24px;
	max-width: 400px;
	width: 400px;
	height: 25%;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}


dialog::backdrop {
  	background: rgba(0, 0, 0, 0.5);
}
.flatCost {
	background-color: rgb(228, 230, 99);
}
.flatCost address {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.flatCost address a {
	text-decoration: none;
	font-size: 20px;
}
.flatCost button {
	display: block;
	width: 200px;
	height: 50px;
	margin: 0 auto;
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
}
.dialogCon {
	display: grid;
	grid-template-rows: 1fr 1fr 2fr;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	height: 100%;
	
}
.dialog_svg {
	display: block;
	grid-row: 2/3;
	grid-column: 1;
	justify-self: center;
	
}
.svg_watt {
	grid-column: 1/2;
	justify-self: right;
}
.svg_telegram {
	grid-column: 2/3;
	justify-self: left;
}
.dialogCon > address {
	display: block;
	grid-row: 1/2;
	grid-column: 1/3;
	align-self: center;
}
.dialogCon > form {
	justify-self: center;
	grid-row: 3/4;
	grid-column: 1/3;
	align-self: center;
}
.footer_link {
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
}
.footer_up {
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
}
.footer_up:hover {
	transition: color .5s ease;
	color: #fff;
}
.footer_link:hover {
	transition: color .5s ease;
	color: #fff;
	
}