
body {
  
	background: 
		linear-gradient(rgba(0, 0, 0, var(--background-filter)), rgba(0, 0, 0, var(--background-filter))),
    	var(--background-main) center top/cover no-repeat;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 140px;
	width: 100%;
	height: 130px;
	background-color: rgb(254, 255, 212);
} 
.header_logo-image {
  	width: 100px;
	border-radius: 10%;
	border: 3px solid black;
	transition: border 0.5s ease;
}
.header_logo-image:hover {
	border-color:#ffed39;
}
.header_list {
	display: flex;
	flex-direction: row;
 	list-style: none;
	gap: 15px;
	font-size: var(--text-size);
	color: var(--text-color-usual);
	text-transform: uppercase;
}
.header_list li:first-child {
	color: var(--text-color-main);
}
.header_list-item {
	font-family: var(--font-text);
}
.header_list-item::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	position: relative;
	inset: 0;
	background-color: var(--text-color-usual);
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.5s ease;
}
.header_list-item:first-child:after {
	background: var(--text-color-main);
}
.header_list-item:hover::after {
	transform: scaleX(1);
}
.header_address {
  	display: flex;
  	flex-direction: column;
}
.link {
	font-family: var(--font-text);
	text-decoration: none;
}
.header_address {
	display: flex;
	gap: 5px;
	font-size: 17px;
}
